body{
    background-image: url("../src/logo-gsb.png");
    background-repeat: no-repeat;
    background-size: 150vh;
    background-position-x: center;
    background-position-y: 30px;
    margin-top: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    color: #947e00;
    background-color: #00000010;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

.logo {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

h1 {
    color: #947e00;
    font-size: 2em;
    margin-bottom: 20px;
}

label {
    display: block;
    text-align: left;
    margin-top: 10px;
    font-weight: bold;
    color: #947e00;
}

input[type="login"],
input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-bottom: 1px solid #947e00;
    box-sizing: border-box;
    background-color: transparent;
    color: #333;
}

input[type="login"]:focus,
input[type="password"]:focus {
    outline: none;
    border-bottom-color: #947e00;
}

button {
    background-color: rgba(255, 217, 0, 0);
    color: #947e00;
    border: 1px;
    border-color: #947e00;
    border-style: solid;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 4px;
    font-size: 20px;
}

button:hover {
    border-color: #947e00;
}
  
/*--------------------------------------------------------------------------*/
/*---------------------------ne pas toucher---------------------------------*/
/*--------------------------------------------------------------------------*/
  .pulse-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    animation: pulse 1.5s ease-in-out infinite;
    opacity: 0.8;
    justify-self: center;
    align-self: center;
    margin-top: 20vh;
  }
  
  @keyframes pulse {
    0%, 100% {
      transform: scale(1);
      opacity: 0.8;
      background-color: #947e00;
    }
    50% {
      transform: scale(3.5);
      opacity: 0.3;
      background-color: #524500;
    }
  }