body {
    background-image: url("../src/logo-gsb.png");
    background-repeat: no-repeat;
    background-size: 25%; /* Réduit la taille de l'image d'arrière-plan */
    background-position: center top 30px;
    margin-top: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    color: #947e00;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0; /* Couleur de fond pour le dégradé */
    background: linear-gradient(135deg, #f0f0f0 20%, #e0e0e0 40%, #d0d0d0 60%, #c0c0c0 80%);
}

.login-container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 30px; /* Forme plus arrondie */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Ombre légèrement plus prononcée */
    width: 90%;
    max-width: 400px; /* Pour éviter qu'il devienne trop large */
    backdrop-filter: blur(8px); /* Effet de flou sur l'arrière-plan */
    position: relative;
}

.login-container::before {
    content: '';
    position: absolute;
    top: -20px;
    bottom: -20px;
    left: -20px;
    right: -20px;
    background-color: rgba(255, 217, 0, 0.1);
    border-radius: 40px; /* Forme plus arrondie avec des ondulations */
    z-index: -1;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
    color: #947e00;
}

input[type="login"],
input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-bottom: 1px solid #947e00;
    box-sizing: border-box;
    background-color: transparent;
    color: #333;
    transition: border-bottom-color 0.3s ease;
}

input[type="login"]:focus,
input[type="password"]:focus {
    outline: none;
    border-bottom-color: #ffda00;
}

button {
    background-color: rgba(255, 217, 0, 0.8);
    color: #333;
    border: none;
    padding: 10px 20px;
    margin-top: 25px;
    border-radius: 24px; /* Bords arrondis */
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgba(255, 217, 0, 0.6);
}

/*--------------------------------------------------------------------------*/
/*---------------------------ne pas toucher---------------------------------*/
/*--------------------------------------------------------------------------*/
.pulse-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  animation: pulse 1.5s ease-in-out infinite;
  opacity: 0.8;
  justify-self: center;
  align-self: center;
  margin-top: 20vh;
}

@keyframes pulse {

  0%,
  100% {
    transform: scale(1);
    opacity: 0.8;
    background-color: #947e00;
  }

  50% {
    transform: scale(3.5);
    opacity: 0.3;
    background-color: #524500;
  }
}