/* bonjour */
body {
    font-family: 'Georgia', serif;
<<<<<<< HEAD
<<<<<<< HEAD
    background-color: #38cc25;
=======
    background-color: #ce9a39;
>>>>>>> 0712b4e (.)
=======
    background-color: #dd9e2a;
>>>>>>> ffb151e (.)
    /* Wheat */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.logo {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

h1 {
    color: #8b4513;
    /* Saddle Brown */
    font-size: 2em;
    margin-bottom: 20px;
}

label {
    display: block;
    text-align: left;
    margin-top: 10px;
    font-weight: bold;
    color: #8b4513;
    /* Saddle Brown */
}

input[type="login"],
input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-bottom: 1px solid #8b4513;
    /* Saddle Brown */
    box-sizing: border-box;
    background-color: transparent;
    color: #333;
}

input[type="login"]:focus,
input[type="password"]:focus {
    outline: none;
    border-bottom-color: #5c4033;
    /* Darker Saddle Brown */
}

button {
    background-color: #8b4513;
    /* Saddle Brown */
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: #5c4033;
    /* Darker Saddle Brown */
}


/*---------------------------------*/
/*---------------------------------*/
/*----------ne pas toucher---------*/
/*---------------------------------*/
/*---------------------------------*/

/* HTML: <div class="loader"></div> */
.loader {
    --s: 25px;
    --g: 5px;

    width: calc(3*(1.353*var(--s) + var(--g)));
    display: grid;
    justify-items: end;
    aspect-ratio: 3;
    overflow: hidden;
    --_m: linear-gradient(90deg, #0000, #000 15px calc(100% - 15px), #0000);
    -webkit-mask: var(--_m);
    mask: var(--_m);
}

.loader:before {
    content: "";
    width: 200%;
    background:
        linear-gradient(90deg, #ff1818 50%, #0000 0),
        conic-gradient(from -90deg at var(--s) calc(0.353*var(--s)),
            #fff 135deg, #666 0 270deg, #aaa 0);
    background-blend-mode: multiply;
    --_m:
        linear-gradient(to bottom right, #0000 calc(0.25*var(--s)), #000 0 calc(100% - calc(0.25*var(--s)) - 1.414*var(--g)), #0000 0),
        conic-gradient(from -90deg at right var(--g) bottom var(--g), #000 90deg, #0000 0);
    -webkit-mask: var(--_m);
    mask: var(--_m);
    background-size: calc(100%/3) 100%, calc(100%/6) 100%;
    -webkit-mask-size: calc(100%/6) 100%;
    mask-size: calc(100%/6) 100%;
    -webkit-mask-composite: source-in;
    mask-composite: intersect;
    animation: l10 1s infinite linear;
}

@keyframes l10 {
    to {
        transform: translate(calc(100%/3))
    }
}