/* Réinitialiser les styles par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f9;
    color: #333;
}

.header {
    background-color: #014040;
    color: white;
    padding: 20px 0;
    text-align: center;
}


.navbar {
    background-color: #e0dcb8; /* Couleur de fond plus claire avec texture */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 2px solid #8b9457; /* Bordure basse pour séparation */
}

.centered-links {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.right-aligned {
    list-style: none;
    display: flex;
    margin-left: auto;
    gap: 20px;
}

.centered-links li a,
.right-aligned li a {
    color: #5a4e3d; /* Couleur sombre pour les liens */
    text-decoration: none; /* Supprimer le soulignement */
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.7); /* Fond semi-transparent pour détacher les liens */
    transition: background-color 0.3s ease;
}

.centered-links li a:hover,
.right-aligned li a:hover {
    background-color: rgba(255, 255, 255, 1); /* Changement de fond au survol */
}


.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h3 {
    color: #007bff;
    margin-bottom: 10px;
}

p {
    line-height: 1.5;
    color: #666;
}