*{
    border : 0px;
    padding : 0px;
    margin: 0px;
    color: #731d55c9;
}

img{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 10vw;
    height: 10vh;
    z-index: 3;
}

li{
    background-color: #0061c9;
    border-radius: 20px;
    margin-bottom: 2vh;
    list-style-type: none;
}
li *{
    text-decoration: none;
    font-size: medium;
}
li a:hover{
    padding: 10px;
    border-radius: 15px;
    background-color: #004b9b;
}
body{
    background-color: #004b9b;
}

.header{
    z-index: 2;
    background-color: #0061c9;
    padding-top: 3vh;
    padding-bottom: 3vh;
    text-align: center;
    position: fixed;
    width: 100vw;
    top: 0px;
}

.navbar{
    z-index: 1;
    height: 100%;
    width: 22vw;
    max-width: 220px;
    background-color: #0061c9;
    justify-content: left;
    align-items: space-between;
    padding-top: 10vh;
    padding-left: 2vw;
    padding-right: 2vw;
    position: fixed;
    top: 0px;
}

.centered-links{
    align-self:flex-start;
}

.container{
    display: flex;
    justify-self: right;
    padding-left: 30vw;
    padding-top: 5vh;
    flex-direction: column;
}
.container *{
    color: #731d55c9;
}