*{
    border : 0px;
    padding : 0px;
    margin: 0px;
}

img{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 10vh;
    height: 10vh;
    z-index: 3;
}

li{
    background-color: #014040;
    border-radius: 20px;
    margin-bottom: 2vh;
    list-style-type: none;
}
li *{
    text-decoration: none;
    color: #ffffffb3;
    font-size: medium;
}
li a:hover{
    padding: 10px;
    border-radius: 15px;
    background-color: #092b2b;
}
body{
    background-color: #092b2b;
}

.header{
    z-index: 2;
    background-color: #014040;
    color: #ffffffb3;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    position: sticky;
    top: 0px;
}

.navbar{
    z-index: 1;
    height: 100%;
    width: 22vh;
    background-color: #014040;
    justify-content: left;
    align-items: space-between;
    padding-top: 10vh;
    padding-left: 2vh;
    padding-right: 2vh;
    position: fixed;
    top: 0px;
}

.centered-links{
    align-self:flex-start;
}

.container{
    display: flex;
    justify-self: right;
    padding-left: 10vh;
    padding-top: 5vh;
}